@import url(https://fonts.googleapis.com/css?family=Ubuntu:regular,500,600,700&display=swap);
* {
    margin: 0;
    padding: 0;     
}

html,
body {
	width: 100%;
	height: 100%;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;

    color: white;

    background-color: #0e2027;
}

input,
button,
textarea {
	font-family: inherit;
}

#content{
	width: 80%;
	min-height: 100%;
	margin:0 auto;
}